.text-brand {
    color: var(--brand-normal-color);
}

.text-brand-dark {
    color: var(--brand-dark-color);
}

.text-bold {
    font-weight: 600;
}

.uppercase-text {
    text-transform: uppercase;
}